* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: iFood RC Textos, helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: auto;
}

.principal {
    display: flex;
    background-color: #edebeb;
    margin: 0 auto;
    justify-content: center;
}

nav.menu {
    font-family: "iFood RC Textos", helvetica, sans-serif;
    font-size: 16px;
    margin: 44px;
    }

a {
    justify-content: center;
    text-decoration: none;
    padding: 11px 16px;
    margin: 0px 3px;
    color: #3e3e3e;
}

button {
    font-family: "iFood RC Textos", helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 16px 30px;
    border: none;
    border-radius: 6px;
}

.entrar {
    margin-left: 3px;
    margin-right: 5px;
    background-color: #ea1d2c;
    color: #edebeb;
}


.login {
    margin-left: 150px;
    color: #ea1d2c;
    background-color: #edebeb;
}

.logo {
    padding: 20px;
    margin: 20px;
    margin-left: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px 100px 100px;
}

.fundo{
    grid-column: 1 / -1;
    background-image: url(./Design\ sem\ nome\ \(1\).png);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    h2 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-size: 58px;
        font-weight: 200;
        margin-top: 150px;
        color: #4d4d4d;
    }

.texto-fundo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 450;
    margin-top: 2px;
    color: #575757;
}

.search-bar {
    grid-column: 4 / 9;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-left: 30px;
}

.bg-search {
    width: 360px;
    height: 48px;
    background-color: #e6e5e5;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 17.35px;
    cursor: pointer;
}

.search-input {
    background-color: #e6e5e5;
    border: none;
    width: 300px;
    color: #858585;
}

.button-header {
    grid-column: 10 /13;
    display: flex;
}

.search-input::placeholder {
    color: #4d4d4d;
}

.ver-marcados {
    background-color: #ea1d2c;
    color: #edebeb;
    width: 228px;
    height: 48px;
    margin-left: 30px;
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
}

.pesquisa-box {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
}