* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: iFood RC Textos, helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: auto;
}

.principal {
    display: flex;
    background-color: #edebeb;
    margin: 0 auto;
    justify-content: center;
}

nav.menu {
    font-family: "iFood RC Textos", helvetica, sans-serif;
    font-size: 16px;
    margin: 44px;
    }

a {
    justify-content: center;
    text-decoration: none;
    padding: 11px 16px;
    margin: 0px 3px;
    color: #3e3e3e;
}

button {
    font-family: "iFood RC Textos", helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 16px 30px;
    border: none;
    border-radius: 6px;
}

.entrar {
    margin-left: 3px;
    margin-right: 5px;
    background-color: #ea1d2c;
    color: #edebeb;
}


.login {
    margin-left: 150px;
    color: #ea1d2c;
    background-color: #edebeb;
}

.logo {
    padding: 20px;
    margin: 20px;
    margin-left: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px 100px 100px;
}

.fundo{
    grid-column: 1 / -1;
    background-image: url(./Design\ sem\ nome\ \(1\).png);
    width: 100%;
    }
